#a{
 
  display: flex;
  flex-wrap: wrap;
 
  background-color:#F7F3F0;
}
#b{
  display: flex;
  flex-wrap: wrap;
}
.c{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 15px;
}
#d{
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}
.dropbtn {
  
  color: white;
  padding-left: 15px;
  font-size: 20px;
  border: none;
 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  
  padding: 16px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:  orange;color: white;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;color:orange}
#footer{
  
  display:flex;
  height: 420px;
  width: 100%;
  margin:auto;
  
  
 
}.fdiv{
  padding-top: 60px;;
  width: 30%;
  height:420px;
 
  background-color:#F3F0ED;
}.fdiv>h4,h5{
  text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  
}
.fdiv>h5{
  line-height: 35px;
  color:#4C618A;
  font-family: Arial, Helvetica, sans-serif;
}.fdiv>h1{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(26, 26, 125)
}
